/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 
 */
// Customize Bulma's color variables




$primary: #00d1b2; // Turquoise, default primary color in Bulma
$link: #3273dc; // Blue
$info: #209cee; // Cyan
$success: #23d160; // Green
$warning: #ffdd57; // Yellow
$danger: #ff3860; // Red
$primary-color: #3498db; // Define the color variable$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333;
$background-color: #f4f4f4;





.navbar {
  background-color: $primary;
  .navbar-item {
    color: $link;
    &:hover {
      background-color: $info;
    }
  }
}

.footer {
 // background-color: $dark;
  //color: $light;
}

.notification {
  &.is-info { background-color: $info; }
  &.is-danger { background-color: $danger; }
}

 .quantity-input {
    width: 60px;
    text-align: center;
  }
  
  nav {
    ul {
      list-style: none;
  
      li {
        display: inline-block;
  
        a {
          color: $primary-color;
          text-decoration: none;
        }
      }
    }
  }
  

  %button-style {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .btn-primary {
    @extend %button-style;
    background-color: $primary-color;
    color: white;
  }
  
  .btn-secondary {
    @extend %button-style;
    background-color: $secondary-color;
    color: white;
  }
  

  $base-padding: 10px;

.container {
  padding: $base-padding * 2;
}



@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}